usr/share/texmf-texlive/scripts/a2ping/a2ping.pl usr/bin/a2ping
usr/share/texmf-texlive/scripts/dviasm/dviasm.py usr/bin/dviasm
usr/share/texmf-texlive/scripts/tetex/e2pall.pl usr/bin/e2pall
usr/share/texmf-texlive/scripts/getnonfreefonts/getnonfreefonts.pl usr/bin/getnonfreefonts
usr/bin/getnonfreefonts usr/bin/getnonfreefonts-sys
usr/share/man/man1/getnonfreefonts.1.gz usr/share/man/man1/getnonfreefonts-sys.1.gz
usr/share/texmf-texlive/scripts/latex2man/latex2man usr/bin/latex2man
usr/share/texmf-texlive/scripts/mkjobtexmf/mkjobtexmf.pl usr/bin/mkjobtexmf
usr/share/texmf-texlive/scripts/pdfcrop/pdfcrop.pl usr/bin/pdfcrop
usr/bin/pdfcrop usr/bin/rpdfcrop
usr/share/texmf-texlive/scripts/pkfix-helper/pkfix-helper usr/bin/pkfix-helper
usr/share/texmf-texlive/scripts/pkfix/pkfix.pl usr/bin/pkfix
usr/share/texmf-texlive/scripts/texcount/texcount.pl usr/bin/texcount
usr/share/texmf-texlive/scripts/texdirflatten/texdirflatten usr/bin/texdirflatten
usr/share/texmf-texlive/scripts/texloganalyser/texloganalyser usr/bin/texloganalyser
usr/share/texmf-texlive/scripts/findhyph/findhyph usr/bin/findhyph
usr/share/texmf-texlive/scripts/listings-ext/listings-ext.sh usr/bin/listings-ext
usr/share/texmf-texlive/scripts/texdiff/texdiff usr/bin/texdiff
