usr/share/man/man1/pdftex.1.gz usr/share/man/man1/mllatex.1.gz
usr/share/man/man1/pdftex.1.gz usr/share/man/man1/mltex.1.gz
usr/share/man/man1/pdftex.1.gz usr/share/man/man1/physe.1.gz
usr/share/man/man1/pdftex.1.gz usr/share/man/man1/phyzzx.1.gz
usr/share/man/man1/pdftex.1.gz usr/share/man/man1/texsis.1.gz
