usr/share/fonts/truetype/asana-math/Asana-Math.otf usr/share/texlive/texmf-dist/fonts/opentype/public/Asana-Math/Asana-Math.otf
usr/share/fonts/truetype/artemisia/GFSArtemisia.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfsartemisia/GFSArtemisia.otf
usr/share/fonts/truetype/artemisia/GFSArtemisiaBold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfsartemisia/GFSArtemisiaBold.otf
usr/share/fonts/truetype/artemisia/GFSArtemisiaBoldIt.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfsartemisia/GFSArtemisiaBoldIt.otf
usr/share/fonts/truetype/artemisia/GFSArtemisiaIt.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfsartemisia/GFSArtemisiaIt.otf
usr/share/fonts/truetype/complutum/GFSPolyglot.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfscomplutum/GFSPolyglot.otf
usr/share/fonts/truetype/didot/GFSDidot.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfsdidot/GFSDidot.otf
usr/share/fonts/truetype/didot/GFSDidotBold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfsdidot/GFSDidotBold.otf
usr/share/fonts/truetype/didot/GFSDidotBoldItalic.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfsdidot/GFSDidotBoldItalic.otf
usr/share/fonts/truetype/didot/GFSDidotItalic.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfsdidot/GFSDidotItalic.otf
usr/share/fonts/truetype/olga/GFSOlga.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfsdidot/GFSOlga.otf
usr/share/fonts/truetype/neohellenic/GFSNeohellenic.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfsneohellenic/GFSNeohellenic.otf
usr/share/fonts/truetype/neohellenic/GFSNeohellenicBold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfsneohellenic/GFSNeohellenicBold.otf
usr/share/fonts/truetype/neohellenic/GFSNeohellenicBoldIt.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfsneohellenic/GFSNeohellenicBoldIt.otf
usr/share/fonts/truetype/neohellenic/GFSNeohellenicIt.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfsneohellenic/GFSNeohellenicIt.otf
usr/share/fonts/truetype/solomos/GFSSolomos.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gfssolomos/GFSSolomos.otf
usr/share/fonts/opentype/freefont/FreeMono.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gnu-freefont/FreeMono.otf
usr/share/fonts/opentype/freefont/FreeMonoBold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gnu-freefont/FreeMonoBold.otf
usr/share/fonts/opentype/freefont/FreeMonoBoldOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gnu-freefont/FreeMonoBoldOblique.otf
usr/share/fonts/opentype/freefont/FreeMonoOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gnu-freefont/FreeMonoOblique.otf
usr/share/fonts/opentype/freefont/FreeSans.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gnu-freefont/FreeSans.otf
usr/share/fonts/opentype/freefont/FreeSansBold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gnu-freefont/FreeSansBold.otf
usr/share/fonts/opentype/freefont/FreeSansBoldOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gnu-freefont/FreeSansBoldOblique.otf
usr/share/fonts/opentype/freefont/FreeSansOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gnu-freefont/FreeSansOblique.otf
usr/share/fonts/opentype/freefont/FreeSerif.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gnu-freefont/FreeSerif.otf
usr/share/fonts/opentype/freefont/FreeSerifBold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gnu-freefont/FreeSerifBold.otf
usr/share/fonts/opentype/freefont/FreeSerifBoldItalic.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gnu-freefont/FreeSerifBoldItalic.otf
usr/share/fonts/opentype/freefont/FreeSerifItalic.otf usr/share/texlive/texmf-dist/fonts/opentype/public/gnu-freefont/FreeSerifItalic.otf
usr/share/fonts/truetype/inconsolata/Inconsolata.otf usr/share/texlive/texmf-dist/fonts/opentype/public/inconsolata/Inconsolata.otf
usr/share/fonts/opentype/linux-libertine/LinBiolinum_K.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinBiolinum_K.otf
usr/share/fonts/opentype/linux-libertine/LinBiolinum_R.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinBiolinum_R.otf
usr/share/fonts/opentype/linux-libertine/LinBiolinum_RB.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinBiolinum_RB.otf
usr/share/fonts/opentype/linux-libertine/LinBiolinum_RI.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinBiolinum_RI.otf
usr/share/fonts/opentype/linux-libertine/LinBiolinum_aBL.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinBiolinum_aBL.otf
usr/share/fonts/opentype/linux-libertine/LinBiolinum_aRL.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinBiolinum_aRL.otf
usr/share/fonts/opentype/linux-libertine/LinBiolinum_aU.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinBiolinum_aU.otf
usr/share/fonts/opentype/linux-libertine/LinBiolinum_aUB.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinBiolinum_aUB.otf
usr/share/fonts/opentype/linux-libertine/LinBiolinum_aUI.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinBiolinum_aUI.otf
usr/share/fonts/opentype/linux-libertine/LinBiolinum_aW.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinBiolinum_aW.otf
usr/share/fonts/opentype/linux-libertine/LinBiolinum_aWB.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinBiolinum_aWB.otf
usr/share/fonts/opentype/linux-libertine/LinBiolinum_aWI.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinBiolinum_aWI.otf
usr/share/fonts/opentype/linux-libertine/LinLibertine_DR.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinLibertine_DR.otf
usr/share/fonts/opentype/linux-libertine/LinLibertine_I.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinLibertine_I.otf
usr/share/fonts/opentype/linux-libertine/LinLibertine_R.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinLibertine_R.otf
usr/share/fonts/opentype/linux-libertine/LinLibertine_RB.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinLibertine_RB.otf
usr/share/fonts/opentype/linux-libertine/LinLibertine_RBI.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinLibertine_RBI.otf
usr/share/fonts/opentype/linux-libertine/LinLibertine_RI.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinLibertine_RI.otf
usr/share/fonts/opentype/linux-libertine/LinLibertine_RZ.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinLibertine_RZ.otf
usr/share/fonts/opentype/linux-libertine/LinLibertine_RZI.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinLibertine_RZI.otf
usr/share/fonts/opentype/linux-libertine/LinLibertine_aBL.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinLibertine_aBL.otf
usr/share/fonts/opentype/linux-libertine/LinLibertine_aDRL.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinLibertine_aDRL.otf
usr/share/fonts/opentype/linux-libertine/LinLibertine_aRL.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinLibertine_aRL.otf
usr/share/fonts/opentype/linux-libertine/LinLibertine_aZL.otf usr/share/texlive/texmf-dist/fonts/opentype/public/libertine/LinLibertine_aZL.otf
usr/share/fonts/truetype/comfortaa/Comfortaa-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/comfortaa/Comfortaa-Bold.ttf
usr/share/fonts/truetype/comfortaa/Comfortaa-Light.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/comfortaa/Comfortaa-Light.ttf
usr/share/fonts/truetype/comfortaa/Comfortaa-Regular.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/comfortaa/Comfortaa-Regular.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSans-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSans-Bold.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSans-BoldOblique.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSans-BoldOblique.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSans-ExtraLight.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSans-ExtraLight.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSans-Oblique.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSans-Oblique.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSans.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSans.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSansCondensed-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSansCondensed-Bold.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSansCondensed-BoldOblique.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSansCondensed-BoldOblique.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSansCondensed-Oblique.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSansCondensed-Oblique.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSansCondensed.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSansCondensed.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSansMono-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSansMono-Bold.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSansMono-BoldOblique.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSansMono-BoldOblique.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSansMono-Oblique.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSansMono-Oblique.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSansMono.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSansMono.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSerif-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSerif-Bold.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSerif-BoldItalic.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSerif-BoldItalic.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSerif-Italic.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSerif-Italic.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSerif.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSerif.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSerifCondensed-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSerifCondensed-Bold.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSerifCondensed-BoldItalic.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSerifCondensed-BoldItalic.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSerifCondensed-Italic.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSerifCondensed-Italic.ttf
usr/share/fonts/truetype/ttf-dejavu/DejaVuSerifCondensed.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/dejavu/DejaVuSerifCondensed.ttf
usr/share/fonts/truetype/droid/DroidSans-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/droid/DroidSans-Bold.ttf
usr/share/fonts/truetype/droid/DroidSans.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/droid/DroidSans.ttf
usr/share/fonts/truetype/droid/DroidSansMono.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/droid/DroidSansMono.ttf
usr/share/fonts/truetype/droid/DroidSerif-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/droid/DroidSerif-Bold.ttf
usr/share/fonts/truetype/droid/DroidSerif-BoldItalic.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/droid/DroidSerif-BoldItalic.ttf
usr/share/fonts/truetype/droid/DroidSerif-Italic.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/droid/DroidSerif-Italic.ttf
usr/share/fonts/truetype/droid/DroidSerif-Regular.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/droid/DroidSerif-Regular.ttf
usr/share/fonts/truetype/gentium/GenAI102.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gentium/GenAI102.ttf
usr/share/fonts/truetype/gentium/GenAR102.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gentium/GenAR102.ttf
usr/share/fonts/truetype/gentium-basic/GenBasB.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gentium/GenBasB.ttf
usr/share/fonts/truetype/gentium-basic/GenBasBI.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gentium/GenBasBI.ttf
usr/share/fonts/truetype/gentium-basic/GenBasI.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gentium/GenBasI.ttf
usr/share/fonts/truetype/gentium-basic/GenBasR.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gentium/GenBasR.ttf
usr/share/fonts/truetype/gentium-basic/GenBkBasB.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gentium/GenBkBasB.ttf
usr/share/fonts/truetype/gentium-basic/GenBkBasBI.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gentium/GenBkBasBI.ttf
usr/share/fonts/truetype/gentium-basic/GenBkBasI.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gentium/GenBkBasI.ttf
usr/share/fonts/truetype/gentium-basic/GenBkBasR.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gentium/GenBkBasR.ttf
usr/share/fonts/truetype/gentium/GenI102.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gentium/GenI102.ttf
usr/share/fonts/truetype/gentium/GenR102.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gentium/GenR102.ttf
usr/share/fonts/truetype/freefont/FreeMono.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gnu-freefont/FreeMono.ttf
usr/share/fonts/truetype/freefont/FreeMonoBold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gnu-freefont/FreeMonoBold.ttf
usr/share/fonts/truetype/freefont/FreeMonoBoldOblique.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gnu-freefont/FreeMonoBoldOblique.ttf
usr/share/fonts/truetype/freefont/FreeMonoOblique.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gnu-freefont/FreeMonoOblique.ttf
usr/share/fonts/truetype/freefont/FreeSans.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gnu-freefont/FreeSans.ttf
usr/share/fonts/truetype/freefont/FreeSansBold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gnu-freefont/FreeSansBold.ttf
usr/share/fonts/truetype/freefont/FreeSansBoldOblique.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gnu-freefont/FreeSansBoldOblique.ttf
usr/share/fonts/truetype/freefont/FreeSansOblique.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gnu-freefont/FreeSansOblique.ttf
usr/share/fonts/truetype/freefont/FreeSerif.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gnu-freefont/FreeSerif.ttf
usr/share/fonts/truetype/freefont/FreeSerifBold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gnu-freefont/FreeSerifBold.ttf
usr/share/fonts/truetype/freefont/FreeSerifBoldItalic.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gnu-freefont/FreeSerifBoldItalic.ttf
usr/share/fonts/truetype/freefont/FreeSerifItalic.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/gnu-freefont/FreeSerifItalic.ttf
usr/share/fonts/truetype/junicode/Junicode-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/junicode/Junicode-Bold.ttf
usr/share/fonts/truetype/junicode/Junicode-BoldItalic.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/junicode/Junicode-BoldItalic.ttf
usr/share/fonts/truetype/junicode/Junicode-Italic.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/junicode/Junicode-Italic.ttf
