#
# tpm2deb.cfg
# (c) 2005-2016 Norbert Preining
#
# describe relations between texlive and other debian packages, but als
# which packages and files should be blacklisted
#
# For a description of the format of this file please see
# the toplevel README file
#
# we have to keep texlive-bin here so that we can change the dependency
# on texlive-binaries for packages:
source;texlive-bin
latest-version;texlive-bin;2016.20160513.41080-5
name;collection-foobar;texlive-binaries;texlive-bin
# sources
source;texlive-base
source;texlive-lang
source;texlive-extra
# basic info 
maintainer;*;Debian TeX Maintainers <debian-tex-maint@lists.debian.org>
uploaders;*;Norbert Preining <preining@debian.org>
section;*;tex
bin-section;texlive-fonts-recommended;fonts
bin-section;texlive-fonts-extra;fonts
priority;*;optional
standards;*;3.9.8
# last texlive-base version all packages should depend on
texlive-base-version;2016
#
# last revision of the packages, necessary for texlive-full dependencies
latest-version;texlive-base;2016
latest-version;texlive-extra;2016
latest-version;texlive-lang;2016
#
# texlive-base needs newer texlive-binaries than "latest-version" because
# of the libpaper patches.  No need to rebuild and update the rest
#
# we need fixed tex-common
depends;texlive-base;tex-common (>= 6)
#
#
# collections -> debian package names plus source packages
include-config;cfg.d/package-naming.cfg
include-config;cfg.d/upgrade-transitional-packages.cfg

#
# docsplitting
# texlive-base source package
docsplitting;texlive-latex-base
docsplitting;texlive-latex-recommended
docsplitting;texlive-fonts-recommended
docsplitting;texlive-pictures
# texlive-extra
docsplitting;texlive-fonts-extra
docsplitting;texlive-latex-extra
# since bigfoot was moved at the same time, we have to replace
# texlive-humanities, too.
docsplitting;texlive-pstricks
docsplitting;texlive-publishers
docsplitting;texlive-humanities
docsplitting;texlive-science
docsplitting;texlive-metapost
#  
#
#
# Various kinds of dependencies
#
depends;texlive-base;ucf, libpaper-utils
# get some suggestions for gs/pdf viewer
suggests;texlive-base;ghostscript, gv | postscript-viewer, xpdf-reader | pdf-viewer
recommends;texlive-pictures;ruby | ruby-interpreter, tk
suggests;texlive-pictures;texlive-latex-extra, libtcltk-ruby
depends;texlive-lang-indic;python
recommends;texlive-lang-cjk;ruby | ruby-interpreter
recommends;texlive-extra-utils;ruby | ruby-interpreter, texlive-latex-recommended
recommends;texlive-extra-utils;libyaml-tiny-perl, libfile-homedir-perl
# bug #728895 minted needs pygmentize
suggests;texlive-latex-extra; python-pygments
# texlive-pstricks ships pdftricks which needs ps2eps and epstopdf
# but since these are not strong deps I use a recommends
recommends;texlive-pstricks;texlive-font-utils, ps2eps
depends;texlive-lang-cjk;texlive-latex-base
#contains dviasm which is a python script
depends;texlive-extra-utils;python2.7 | python3
recommends;texlive-extra-utils;ghostscript
suggests;texlive-lang-polish;texlive-fonts-extra
recommends;texlive-pstricks;texlive-extra-utils
recommends;texlive-font-utils;ghostscript
# we need texlive-latex-base to get xelatex working
depends;texlive-xetex;texlive-latex-base
# but also texlive-latex-extra for polyglossia
depends;texlive-xetex;texlive-latex-extra
# and lmodern to make everyone happy
recommends;texlive-xetex;lmodern
recommends;texlive-font-utils;ps2eps
# scalable-cyrfonts-tex is broken in several ways:
# - first it needs an update for tex-common 3
# - second it ships fonts with a font name as in texlive-fonts-extra
# thus conflict with it.
conflicts;texlive-fonts-extra;scalable-cyrfonts-tex
# texlive-formats-extra needs bplain.tex which is in texlive-latex-base
depends;texlive-formats-extra;texlive-latex-base
# texlive-extra-utils ships pdfjam etc, which needs pdflatex, so make them 
# happy
depends;texlive-extra-utils;texlive-latex-base
#
# texlive-publishers macros use url.sty, so better have -recommended
depends;texlive-publishers;texlive-latex-recommended
# texlive-science (algorithm) also needs stuff from latex-recommended
depends;texlive-science;texlive-latex-recommended
# various tlu scripts, make lintian happy
#
# texlive-lang-cjk was splt in 2014 to -lang-japanese, lang-korean,
# -lang-chinese, with -lang-cjk only containing components used by
# all. To make sure that people having only lang-cjk installed are
# upgraded to having all of the four installed, we add recommends here.
recommends;texlive-lang-cjk;texlive-lang-japanese, texlive-lang-chinese, texlive-lang-korean
#
# xelollipop in texlive-formats-extra need xetex
depends;texlive-formats-extra;texlive-xetex
#
# moderncv uses marvosym by default
recommends;texlive-latex-extra;texlive-fonts-recommended
#
# exceltex in texlive-latex-extra needs Spreadsheet::ParseExcel, suggest it
suggests;texlive-latex-extra;libspreadsheet-parseexcel-perl
#
# luatex85.sty is needed for lang-cz
depends;texlive-lang-czechslovak;texlive-luatex
#
# make sure we get rid of old gregorio packages
breaks;texlive-music;gregoriotex (<= 2.3-1), gregorio (<= 2.3-1)
provides;texlive-music;gregoriotex, gregorio
#
#
# we ship emacs files in texlive-lang-english
# not necessary according to Kevin Ryde, ml, bug 807154
#depends;texlive-lang-english;emacsen-common (>= 2.0.8)
#
# UPGRADE
#
# STABLE -> UNSTABLE
# current stable: 2014
# current unstable: 2016
#
# 2014 -> 2015
# ============
# 
# transitional packages removed, but keep provide for one more year
provides;texlive-extra-utils;pdfjam
provides;texlive-latex-recommended;texlive-latex3
provides;texlive-pictures;pgf
provides;texlive-latex-recommended;latex-xcolor
provides;texlive-latex-recommended;latex-beamer
#
# moves of packages
#
# perfectcut moved from latexextra to mathextra
replaces;texlive-math-extra;texlive-latex-extra (<< 2015.20151117)
replaces;texlive-math-extra;texlive-latex-extra-doc (<< 2015.20151117)
breaks;texlive-latex-extra;texlive-math-extra (<< 2015.20151117)
breaks;texlive-latex-extra-doc; texlive-math-extra (<< 2015.20151117)
# bagpipe moved from genericextra to music
replaces;texlive-generic-extra;texlive-music (<< 2014.20141107)
breaks;texlive-music;texlive-generic-extra (<< 2014.20141107)
# euenc moved from -extra to -latexrecommended
replaces;texlive-latex-recommended;texlive-xetex (<< 2014.20141208)
replaces;texlive-latex-recommended-doc;texlive-xetex (<< 2014.20141208)
breaks;texlive-xetex;texlive-latex-recommended (<< 2014.20141208)
breaks;texlive-xetex;texlive-latex-recommended-doc (<< 2014.20141208)
# manually moved links of ipa fonts to japanese
replaces;texlive-lang-japanese;texlive-lang-cjk (<< 2014.20150305)
breaks;texlive-lang-cjk;texlive-lang-japanese (<< 2014.20150305)
# xpiano entered, thus piano moved from pictures to music
replaces;texlive-music;texlive-pictures (<< 2015.20150625)
breaks;texlive-pictures;texlive-music (<< 2015.20150625)
replaces;texlive-music;texlive-pictures-doc (<< 2015.20150625)
breaks;texlive-pictures-doc;texlive-music (<< 2015.20150625)
# fithesis moved from pictures to texlive-extra
replaces;texlive-latex-extra;texlive-publishers (<< 2015.20150702)
breaks;texlive-publishers;texlive-latex-extra (<< 2015.20150702)
replaces;texlive-latex-extra-doc;texlive-publishers-doc (<< 2015.20150702)
breaks;texlive-publishers-doc;texlive-latex-extra-doc (<< 2015.20150702)
# simplewick moved from latex-extra to science
replaces;texlive-science;texlive-latex-extra (<< 2015.20151225)
breaks;texlive-latex-extra;texlive-science (<< 2015.20151225)
replaces;texlive-science-doc;texlive-latex-extra-doc (<< 2015.20151225)
breaks;texlive-latex-extra-doc;texlive-science-doc (<< 2015.20151225)
# mweights moved from latex-extra to fonts-extra
replaces;texlive-fonts-extra;texlive-latex-extra (<< 2016.20160320)
breaks;texlive-latex-extra;texlive-fonts-extra (<< 2016.20160320)
replaces;texlive-fonts-extra-doc;texlive-latex-extra-doc (<< 2016.20160320)
breaks;texlive-latex-extra-doc;texlive-fonts-extra-doc (<< 2016.20160320)
# at some point in time some hyphen stuff moved from texlive-base to
# various hyphen-* packages and thus into texlive-lang-*
replaces;texlive-lang-african;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-african (<< 2016)
replaces;texlive-lang-chinese;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-chinese (<< 2016)
replaces;texlive-lang-cyrillic;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-cyrillic (<< 2016)
replaces;texlive-lang-czechslovak;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-czechslovak (<< 2016)
replaces;texlive-lang-english;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-english (<< 2016)
replaces;texlive-lang-european;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-european (<< 2016)
replaces;texlive-lang-french;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-french (<< 2016)
replaces;texlive-lang-german;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-german (<< 2016)
replaces;texlive-lang-greek;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-greek (<< 2016)
replaces;texlive-lang-indic;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-indic (<< 2016)
replaces;texlive-lang-italian;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-italian (<< 2016)
replaces;texlive-lang-other;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-other (<< 2016)
replaces;texlive-lang-polish;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-polish (<< 2016)
replaces;texlive-lang-portuguese;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-portuguese (<< 2016)
replaces;texlive-lang-spanish;texlive-base (<< 2016)
breaks;texlive-base;texlive-lang-spanish (<< 2016)

#
# reinclusion of musixtex, pmx, m-tx
replaces;texlive-music;musixtex (<< 1:1.20.ctan20151216-3), pmx (<< 2.7.0.ctan20150301-3), m-tx (<< 0.61.ctan20151217-2)
provides;texlive-music;musixtex, pmx, m-tx
breaks;texlive-music;musixtex (<< 1:1.20.ctan20151216-3), pmx (<< 2.7.0.ctan20150301-3), m-tx (<< 0.61.ctan20151217-2)

# reinclusion of jadetex, xmltex
replaces;texlive-htmlxml;xmltex (<< 1.9.debian.1-6), jadetex (<< 3.13-17), tex4ht (<< 20160814)
provides;texlive-htmlxml;xmltex, jadetex, tex4ht
breaks;texlive-htmlxml;xmltex (<< 1.9.debian.1-6), jadetex (<< 3.13-17), tex4ht (<< 20160814)
conflicts;texlive-htmlxml;xmltex (<< 1.9.debian.1-6), jadetex (<< 3.13-17), tex4ht (<< 20160814)
# for ulem.sty
depends;texlive-htmlxml;texlive-generic-recommended
# openjade would be good to have for jadetex
recommends;texlive-htmlxml;openjade

#
# texlive-pstricks needs pgf in any case ..
depends;texlive-pstricks;texlive-pictures
# and texlive-pictures/pgf needs xcolor:
depends;texlive-pictures;texlive-latex-recommended
#
# texlive-music contains lilyglyphs, needs python, so depend on it
# same for luatex via pmxchords
depends;texlive-music;python
#
# more pythons
#
depends;texlive-science;python2.7
depends;texlive-pictures;python
#
# biber - biblatex coordination
#
breaks;texlive-bibtex-extra;biber (<< 2.5)

# luajittex is a pain, not supported on a wide variety of arch,
# disable it for the default install
disable_format;texlive-base;luajittex

#
# add ruby as dependency for convbkmk.rb
depends;texlive-lang-japanese;ruby

#
# abntex2 in tl-publishers needs enumitem from latex-extra, add recommends
recommends;texlive-publishers;texlive-latex-extra

#
# seminar in texlive-latex-recommended needs texlive-pstricks
suggests;texlive-latex-recommended;texlive-pstricks
#
# bidi needs iftex
depends;texlive-lang-arabic;texlive-generic-extra

#
# jquery fiddling
depends;texlive-luatex;libjs-jquery
blacklist;file;texmf-dist/doc/support/lua2dox/docs/html/jquery.js
blacklist;file;texmf-dist/doc/support/lua2dox/examples/lua/docs/html/jquery.js
blacklist;file;texmf-dist/doc/support/lua2dox/examples/php/docs/html/jquery.js

#
# lato in fonts-extra needs slantsc, add recommends
recommends;texlive-fonts-extra;texlive-latex-extra

#
# texlive-math-extra: unicode-math needs ucharcat.sty in texlive-luatex
depends;texlive-math-extra;texlive-luatex

# 20160811 #833967
# texlive-bibtex-extra should conflict with biblatex and biblatex-dw
conflicts;texlive-bibtex-extra;biblatex, biblatex-dw, logreq

# 20160814 tex4ht
conflicts;texlive-base;tex4ht (<< 20160814)
replaces;texlive-htmlxml;tex4ht (<< 20160814)

#
# Additional packages, no tpms/collections exist
include-config;cfg.d/additional-packages.cfg


#
# build dependencies
#
# texlive-base
build-dep;texlive-base;debhelper (>= 7.0.50~)
build-dep-indep;texlive-base;sharutils, tex-common (>= 6), findutils (>=4.2.0)
# texlive-lang
build-dep;texlive-lang;debhelper (>= 7.0.50~)
build-dep-indep;texlive-lang;sharutils, tex-common (>= 6), findutils (>=4.2.0)
# texlive-extra
build-dep;texlive-extra;debhelper (>= 7.0.50~)
build-dep-indep;texlive-extra;sharutils, tex-common (>= 6), findutils (>=4.2.0)
#
#
# MOVE PACKAGES
#
# move texdoc.tpm to tl-base
move;texdoc;texlive-base
suggests;texlive-base;perl-tk
# texdoc uses xdg-open, so depend on xdg-utils
depends;texlive-base;xdg-utils
#
#
# TITLE AND DESCRIPTIONS
#
# for packages give the short description, for tpms the description field
shortdesc;afm2pl;AFM font metrics to TeX pl converter.
shortdesc;lambda;LaTeX format based on the Omega engine.
#
#
#
#
#
# FILE BLACKLISTS and KILLS
#
#
# sympytex
# cc-by-sa-nc, not allowed, bug #824068, author contacted
blacklist;file;texmf-dist/doc/latex/sympytexpackage/sympytexpackage.pdf
# gpl but source not included in CTAN upload #824069
blacklist;file;texmf-dist/doc/latex/sympytexpackage/example.pdf
#
# this one we need for installation but not installed, so map it into nowhere
# and do not blacklist it
blacklist;file;texmf-dist/dvipdfm/config/config-win32
blacklist;file;texmf-dist/doc/latex/latex-course/Graphics/Thumbs.db
blacklist;file;texmf-dist/doc/latex/pdfwin/Thumbs.db
#
# latexmp.pdf source code is not present, blacklist it for now
blacklist;file;texmf-dist/doc/metapost/latexmp/latexmp.pdf
#
# eepic docs don't contain a license statement, so blacklist them
blacklist;file;texmf-dist/doc/latex/eepic/epic-eg4.tex
blacklist;file;texmf-dist/doc/latex/eepic/readme
blacklist;file;texmf-dist/doc/latex/eepic/epic-eg3.tex
blacklist;file;texmf-dist/doc/latex/eepic/eepic.pdf
blacklist;file;texmf-dist/doc/latex/eepic/eepic.tex
#
# blacklist flash files, sorry users, complain to Debian zealots!
blacklist;file;texmf-dist/tex/latex/flashmovie/player_flv_maxi.swf
blacklist;file;texmf-dist/tex/latex/media9/players/StrobeMediaPlayback.swf
# blacklist another file that is errored *wrongly* by lintian
# furthermore, nether lintian maintainers nor ftp-masters seem
# to care - even to answer - requests to change the bogus
# lintian check. The license has changed, and this file *is*
# distributable.
# lintian bug: http://bugs.debian.org/786946
# ftp-master bug: http://bugs.debian.org/787338
blacklist;file;texmf-dist/tex/latex/pdfx/sRGB_IEC61966-2-1_black_scaled.icc
#
# lenna.jpg is bad for our reputations ... add all of them
blacklist;file;texmf-dist/doc/latex/sectionbox/example/lenna10connect.jpg
blacklist;file;texmf-dist/doc/latex/sectionbox/example/lenna10pct.jpg
blacklist;file;texmf-dist/doc/latex/sectionbox/example/lenna10smooth.jpg
#
# PACKAGE BLACKLISTS
# attention, the names are tpm names, so collection-something
#
# biber
# only prebuild binaries are in TL, so we cannot ship that in Debian
#
blacklist;tpm;biber;*
blacklist;tpm;asymptote;*
blacklist;tpm;texlive-scripts;*
blacklist;tpm;texlive-msg-translations;*
# 
# GFDL files contained, actually all docs, blacklist it
blacklist;tpm;dickimaw;*
#
#
ignore;texmf-dist/doc/fonts/gnu-freefont/tools/generate/buildutils.pyc;;
#
# ignore config files for maps, formats, hyph patterns
# handled separately
ignore;texmf-dist/tex/generic/config/language.dat
ignore;texmf-dist/tex/generic/config/language.def
ignore;texmf-dist/tex/generic/config/language.dat.lua
ignore;texmf-dist/web2c/updmap.cfg;;
ignore;texmf-dist/web2c/fmtutil.cnf;;
ignore;texmf-dist/web2c/mktex.cnf
# useless files
# todo upstream
ignore;texmf-dist/doc/latex/mathpazo/mapfplm.tex
ignore;texmf-dist/doc/latex/mathpazo/mapppl.tex
ignore;texmf-dist/doc/latex/mathpazo/mapzplm.tex
#
# files that are in ps2eps are not installed
kill;texmf-dist/doc/man/man1/bbox.1;;
ignore;texmf-dist/doc/man/man1/bbox.man1.pdf;;
kill;texmf-dist/doc/man/man1/ps2eps.1;;
ignore;texmf-dist/doc/man/man1/ps2eps.man1.pdf;;
ignore;texmf-dist/scripts/ps2eps/ps2eps.pl;;
#
# do not install texlinks, it is outdated
kill;texmf-dist/doc/man/man1/texlinks.1;;
kill;texmf-dist/doc/man/man1/texlinks.man1.pdf;;
kill;texmf-dist/scripts/texlive/texlinks.sh;;
#
# kill also texconfig, it has not existence in Debian
kill;texmf-dist/texconfig/README;;
kill;texmf-dist/scripts/texlive/texconfig-dialog.sh;;
kill;texmf-dist/scripts/texlive/texconfig-sys.sh;;
kill;texmf-dist/scripts/texlive/texconfig.sh;;
kill;texmf-dist/texconfig/README;;
kill;texmf-dist/texconfig/g/generic;;
kill;texmf-dist/texconfig/tcfmgr;;
kill;texmf-dist/texconfig/tcfmgr.map;;
kill;texmf-dist/texconfig/v/vt100;;
kill;texmf-dist/texconfig/x/xterm;;
kill;texmf-dist/doc/man/man1/texconfig.1;;
kill;texmf-dist/doc/man/man1/texconfig.man1.pdf;;
kill;texmf-dist/doc/man/man1/texconfig-sys.1;;
kill;texmf-dist/doc/man/man1/texconfig-sys.man1.pdf;;
#
# kill tx4ht.jar
kill;texmf-dist/tex4ht/bin/tex4ht.jar;;
#
#
include-config;cfg.d/info-man-handling.cfg
include-config;cfg.d/debian-replacement.cfg
include-config;cfg.d/font-ignore.cfg
#
#
# vim:set fileencoding=utf-8: #
# Local Variables:
# coding: utf-8
# End:
