#
# Additional packages, no tpms/collections exist
addpackages;;texlive;texlive-full;texlive-lang-all;texlive-fonts-extra-links
#
# all should be part of the texlive-base source package
name;collection-foobar;texlive;texlive-base
name;collection-foobar;texlive-full;texlive-base
name;collection-foobar;texlive-fonts-extra-links;texlive-extra
name;collection-foobar;texlive-lang-all;texlive-lang
#
# texlive-full
title;texlive-full;metapackage pulling in all components of TeX Live
description;texlive-full;The TeX Live software distribution offers a complete TeX system.
description;texlive-full;It encompasses programs for typesetting, previewing and printing
description;texlive-full;of TeX documents in many different languages, and a large collection
description;texlive-full;of TeX macros and font libraries.
description;texlive-full;.
description;texlive-full;The distribution also includes extensive general documentation about
description;texlive-full;TeX, as well as the documentation accompanying the included software
description;texlive-full;packages.
# texlive-full should not depend on these meta- or transitional packages
dependsnot;texlive-full;texlive-full;texlive;texlive-lang-all
depends;texlive-full;context
#
# texlive
title;texlive;A decent selection of the TeX Live packages
description;texlive;The TeX Live software distribution offers a complete TeX system.
description;texlive;It encompasses programs for typesetting, previewing and printing
description;texlive;of TeX documents in many different languages, and a large collection
description;texlive;of TeX macros and font libraries.
description;texlive;.
description;texlive;This metapackage provides a decent selection of the TeX Live packages
description;texlive;which should suffice for the most common tasks.
description;texlive;.
description;texlive;The distribution also includes extensive general documentation about
description;texlive;TeX, as well as the documentation accompanying the included software
description;texlive;packages.
depends;texlive;texlive-latex-recommended, texlive-fonts-recommended, texlive-latex-base
#
# texlive-lang-all
title;texlive-lang-all;metapackage depending on all TeX Live language packages
description;texlive-lang-all;This package pulls in all texlive-lang-*
description;texlive-lang-all;packages.
#
# texlive-fonts-extra-links
title;texlive-fonts-extra-links;Setup of fonts for TeX Live and search via kpathsea
description;texlive-fonts-extra-links;This package ships links to all the fonts that are originally in
description;texlive-fonts-extra-links;TeX Live, collection fonts-extra, but are not shipped in the Debian
description;texlive-fonts-extra-links;package texlive-fonts-extra due to availability in separate 
description;texlive-fonts-extra-links;packages.
description;texlive-fonts-extra-links;.
description;texlive-fonts-extra-links;For documents searching these fonts by file name instead of using
description;texlive-fonts-extra-links;fontconfig lookups, the font files need to be linked into the
description;texlive-fonts-extra-links;TEXMF tree of TeX Live. This package ships these links and depends
description;texlive-fonts-extra-links;on all the font packages required.
depends;texlive-full;texlive-fonts-extra-links
recommends;texlive-fonts-extra;texlive-fonts-extra-links
#filemove;texlive-fonts-extra;texlive-fonts-extra-links;2017.20180225
