usr/share/texmf-texlive/scripts/simpdftex/simpdftex usr/bin/simpdftex
usr/share/texmf-texlive/scripts/texdoc/texdoc.tlu usr/bin/texdoc
usr/share/texmf-texlive/scripts/tetex/texdoctk.pl usr/bin/texdoctk
