usr/share/doc/texlive-doc usr/share/texlive/texmf-dist/doc
var/lib/texmf/ls-R-TEXLIVEDIST usr/share/texlive/texmf-dist/ls-R
var/lib/texmf/ls-R-TEXLIVEMAIN usr/share/texlive/texmf/ls-R
usr/share/doc/texlive-common/readme-txt.dir usr/share/doc/texlive-doc/readme-txt.dir
usr/share/doc/texlive-common/readme-html.dir usr/share/doc/texlive-doc/readme-html.dir
usr/share/doc/texlive-common/README.Debian usr/share/doc/texlive-doc/README.Debian
usr/share/doc/texlive-common/README.source usr/share/doc/texlive-doc/README.source
usr/share/doc/texlive-common/CHANGES.packaging usr/share/doc/texlive-doc/CHANGES.packaging
