usr/share/javascript/jquery/jquery.js usr/share/doc/texlive-doc/support/lua2dox/docs/html/jquery.js
usr/share/javascript/jquery/jquery.js usr/share/doc/texlive-doc/support/lua2dox/examples/lua/docs/html/jquery.js
usr/share/javascript/jquery/jquery.js usr/share/doc/texlive-doc/support/lua2dox/examples/php/docs/html/jquery.js
