usr/share/fonts/X11/Type1/c0649bt_.pfb usr/share/texlive/texmf-dist/fonts/type1/bitstrea/charter/bchri8a.pfb
usr/share/fonts/X11/Type1/c0649bt_.afm usr/share/texlive/texmf-dist/fonts/afm/bitstrea/charter/bchri8a.afm
usr/share/fonts/X11/Type1/c0632bt_.pfb usr/share/texlive/texmf-dist/fonts/type1/bitstrea/charter/bchb8a.pfb
usr/share/fonts/X11/Type1/c0632bt_.afm usr/share/texlive/texmf-dist/fonts/afm/bitstrea/charter/bchb8a.afm
usr/share/fonts/X11/Type1/c0648bt_.pfb usr/share/texlive/texmf-dist/fonts/type1/bitstrea/charter/bchr8a.pfb
usr/share/fonts/X11/Type1/c0648bt_.afm usr/share/texlive/texmf-dist/fonts/afm/bitstrea/charter/bchr8a.afm
usr/share/fonts/X11/Type1/c0633bt_.pfb usr/share/texlive/texmf-dist/fonts/type1/bitstrea/charter/bchbi8a.pfb
usr/share/fonts/X11/Type1/c0633bt_.afm usr/share/texlive/texmf-dist/fonts/afm/bitstrea/charter/bchbi8a.afm
