usr/share/fonts/truetype/arphic-bkai00mp/bkai00mp.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/arphic-ttf/bkai00mp.ttf
usr/share/fonts/truetype/arphic-bsmi00lp/bsmi00lp.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/arphic-ttf/bsmi00lp.ttf
usr/share/fonts/truetype/arphic-gbsn00lp/gbsn00lp.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/arphic-ttf/gbsn00lp.ttf
usr/share/fonts/truetype/arphic-gkai00mp/gkai00mp.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/arphic-ttf/gkai00mp.ttf
