usr/share/fonts/truetype/padauk/Padauk-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/padauk/Padauk-Bold.ttf
usr/share/fonts/truetype/padauk/Padauk-Regular.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/padauk/Padauk-Regular.ttf
usr/share/fonts/truetype/padauk/PadaukBook-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/padauk/PadaukBook-Bold.ttf
usr/share/fonts/truetype/padauk/PadaukBook-Regular.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/padauk/PadaukBook-Regular.ttf
