usr/share/fonts/truetype/padauk/Padauk-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/padauk/Padauk-Bold.ttf
usr/share/fonts/truetype/padauk/Padauk-Regular.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/padauk/Padauk-Regular.ttf
usr/share/fonts/truetype/padauk/PadaukBook-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/padauk/PadaukBook-Bold.ttf
usr/share/fonts/truetype/padauk/PadaukBook-Regular.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/padauk/PadaukBook-Regular.ttf
usr/share/fonts/opentype/tlwg/Garuda-Bold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Garuda-Bold.otf
usr/share/fonts/opentype/tlwg/Garuda-BoldOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Garuda-BoldOblique.otf
usr/share/fonts/opentype/tlwg/Garuda-Oblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Garuda-Oblique.otf
usr/share/fonts/opentype/tlwg/Garuda.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Garuda.otf
usr/share/fonts/opentype/tlwg/Kinnari-Bold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Kinnari-Bold.otf
usr/share/fonts/opentype/tlwg/Kinnari-BoldItalic.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Kinnari-BoldItalic.otf
usr/share/fonts/opentype/tlwg/Kinnari-BoldOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Kinnari-BoldOblique.otf
usr/share/fonts/opentype/tlwg/Kinnari-Italic.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Kinnari-Italic.otf
usr/share/fonts/opentype/tlwg/Kinnari-Oblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Kinnari-Oblique.otf
usr/share/fonts/opentype/tlwg/Kinnari.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Kinnari.otf
usr/share/fonts/opentype/tlwg/Laksaman-Bold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Laksaman-Bold.otf
usr/share/fonts/opentype/tlwg/Laksaman-BoldItalic.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Laksaman-BoldItalic.otf
usr/share/fonts/opentype/tlwg/Laksaman-Italic.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Laksaman-Italic.otf
usr/share/fonts/opentype/tlwg/Laksaman.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Laksaman.otf
usr/share/fonts/opentype/tlwg/Loma-Bold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Loma-Bold.otf
usr/share/fonts/opentype/tlwg/Loma-BoldOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Loma-BoldOblique.otf
usr/share/fonts/opentype/tlwg/Loma-Oblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Loma-Oblique.otf
usr/share/fonts/opentype/tlwg/Loma.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Loma.otf
usr/share/fonts/opentype/tlwg/Norasi-Bold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Norasi-Bold.otf
usr/share/fonts/opentype/tlwg/Norasi-BoldItalic.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Norasi-BoldItalic.otf
usr/share/fonts/opentype/tlwg/Norasi-BoldOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Norasi-BoldOblique.otf
usr/share/fonts/opentype/tlwg/Norasi-Italic.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Norasi-Italic.otf
usr/share/fonts/opentype/tlwg/Norasi-Oblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Norasi-Oblique.otf
usr/share/fonts/opentype/tlwg/Norasi.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Norasi.otf
usr/share/fonts/opentype/tlwg/Purisa-Bold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Purisa-Bold.otf
usr/share/fonts/opentype/tlwg/Purisa-BoldOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Purisa-BoldOblique.otf
usr/share/fonts/opentype/tlwg/Purisa-Oblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Purisa-Oblique.otf
usr/share/fonts/opentype/tlwg/Purisa.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Purisa.otf
usr/share/fonts/opentype/tlwg/Sawasdee-Bold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Sawasdee-Bold.otf
usr/share/fonts/opentype/tlwg/Sawasdee-BoldOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Sawasdee-BoldOblique.otf
usr/share/fonts/opentype/tlwg/Sawasdee-Oblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Sawasdee-Oblique.otf
usr/share/fonts/opentype/tlwg/Sawasdee.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Sawasdee.otf
usr/share/fonts/opentype/tlwg/TlwgMono-Bold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgMono-Bold.otf
usr/share/fonts/opentype/tlwg/TlwgMono-BoldOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgMono-BoldOblique.otf
usr/share/fonts/opentype/tlwg/TlwgMono-Oblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgMono-Oblique.otf
usr/share/fonts/opentype/tlwg/TlwgMono.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgMono.otf
usr/share/fonts/opentype/tlwg/TlwgTypewriter-Bold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgTypewriter-Bold.otf
usr/share/fonts/opentype/tlwg/TlwgTypewriter-BoldOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgTypewriter-BoldOblique.otf
usr/share/fonts/opentype/tlwg/TlwgTypewriter-Oblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgTypewriter-Oblique.otf
usr/share/fonts/opentype/tlwg/TlwgTypewriter.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgTypewriter.otf
usr/share/fonts/opentype/tlwg/TlwgTypist-Bold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgTypist-Bold.otf
usr/share/fonts/opentype/tlwg/TlwgTypist-BoldOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgTypist-BoldOblique.otf
usr/share/fonts/opentype/tlwg/TlwgTypist-Oblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgTypist-Oblique.otf
usr/share/fonts/opentype/tlwg/TlwgTypist.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgTypist.otf
usr/share/fonts/opentype/tlwg/TlwgTypo-Bold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgTypo-Bold.otf
usr/share/fonts/opentype/tlwg/TlwgTypo-BoldOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgTypo-BoldOblique.otf
usr/share/fonts/opentype/tlwg/TlwgTypo-Oblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgTypo-Oblique.otf
usr/share/fonts/opentype/tlwg/TlwgTypo.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/TlwgTypo.otf
usr/share/fonts/opentype/tlwg/Umpush-Bold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Umpush-Bold.otf
usr/share/fonts/opentype/tlwg/Umpush-BoldOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Umpush-BoldOblique.otf
usr/share/fonts/opentype/tlwg/Umpush-Light.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Umpush-Light.otf
usr/share/fonts/opentype/tlwg/Umpush-LightOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Umpush-LightOblique.otf
usr/share/fonts/opentype/tlwg/Umpush-Oblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Umpush-Oblique.otf
usr/share/fonts/opentype/tlwg/Umpush.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Umpush.otf
usr/share/fonts/opentype/tlwg/Waree-Bold.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Waree-Bold.otf
usr/share/fonts/opentype/tlwg/Waree-BoldOblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Waree-BoldOblique.otf
usr/share/fonts/opentype/tlwg/Waree-Oblique.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Waree-Oblique.otf
usr/share/fonts/opentype/tlwg/Waree.otf usr/share/texlive/texmf-dist/fonts/opentype/public/fonts-tlwg/Waree.otf
