usr/share/fonts/opentype/fonts-hosny-amiri/Amiri-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/amiri/amiri-bold.ttf
usr/share/fonts/opentype/fonts-hosny-amiri/Amiri-BoldSlanted.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/amiri/amiri-boldslanted.ttf
usr/share/fonts/opentype/fonts-hosny-amiri/Amiri-Regular.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/amiri/amiri-regular.ttf
usr/share/fonts/opentype/fonts-hosny-amiri/Amiri-Slanted.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/amiri/amiri-slanted.ttf
usr/share/fonts/opentype/fonts-hosny-amiri/AmiriQuran.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/amiri/amiri-quran.ttf
usr/share/fonts/opentype/fonts-hosny-amiri/AmiriQuranColored.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/amiri/amiri-quran-colored.ttf
