usr/share/fonts/truetype/baekmuk/batang.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/baekmuk/batang.ttf
usr/share/fonts/truetype/baekmuk/dotum.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/baekmuk/dotum.ttf
usr/share/fonts/truetype/baekmuk/gulim.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/baekmuk/gulim.ttf
usr/share/fonts/truetype/baekmuk/hline.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/baekmuk/hline.ttf
usr/share/fonts/truetype/unfonts-core/UnBatang.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-core/UnBatang.ttf
usr/share/fonts/truetype/unfonts-core/UnBatangBold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-core/UnBatangBold.ttf
usr/share/fonts/truetype/unfonts-core/UnDinaru.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-core/UnDinaru.ttf
usr/share/fonts/truetype/unfonts-core/UnDinaruBold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-core/UnDinaruBold.ttf
usr/share/fonts/truetype/unfonts-core/UnDinaruLight.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-core/UnDinaruLight.ttf
usr/share/fonts/truetype/unfonts-core/UnDotum.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-core/UnDotum.ttf
usr/share/fonts/truetype/unfonts-core/UnDotumBold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-core/UnDotumBold.ttf
usr/share/fonts/truetype/unfonts-core/UnGraphic.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-core/UnGraphic.ttf
usr/share/fonts/truetype/unfonts-core/UnGraphicBold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-core/UnGraphicBold.ttf
usr/share/fonts/truetype/unfonts-core/UnGungseo.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-core/UnGungseo.ttf
usr/share/fonts/truetype/unfonts-core/UnPilgi.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-core/UnPilgi.ttf
usr/share/fonts/truetype/unfonts-core/UnPilgiBold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-core/UnPilgiBold.ttf
usr/share/fonts/truetype/unfonts-extra/UnJamoBatang.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-extra/UnJamoBatang.ttf
usr/share/fonts/truetype/unfonts-extra/UnJamoDotum.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-extra/UnJamoDotum.ttf
usr/share/fonts/truetype/unfonts-extra/UnJamoNovel.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-extra/UnJamoNovel.ttf
usr/share/fonts/truetype/unfonts-extra/UnJamoSora.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-extra/UnJamoSora.ttf
usr/share/fonts/truetype/unfonts-extra/UnPen.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-extra/UnPen.ttf
usr/share/fonts/truetype/unfonts-extra/UnPenheulim.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-extra/UnPenheulim.ttf
usr/share/fonts/truetype/unfonts-extra/UnPilgia.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-extra/UnPilgia.ttf
usr/share/fonts/truetype/unfonts-extra/UnShinmun.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-extra/UnShinmun.ttf
usr/share/fonts/truetype/unfonts-extra/UnTaza.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-extra/UnTaza.ttf
usr/share/fonts/truetype/unfonts-extra/UnVada.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-extra/UnVada.ttf
usr/share/fonts/truetype/unfonts-extra/UnYetgul.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/unfonts-extra/UnYetgul.ttf
