usr/share/fonts/opentype/fonts-hosny-amiri/Amiri-Bold.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/amiri/Amiri-Bold.ttf
usr/share/fonts/opentype/fonts-hosny-amiri/Amiri-BoldItalic.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/amiri/Amiri-BoldItalic.ttf
usr/share/fonts/opentype/fonts-hosny-amiri/Amiri-Regular.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/amiri/Amiri-Regular.ttf
usr/share/fonts/opentype/fonts-hosny-amiri/Amiri-Italic.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/amiri/Amiri-Italic.ttf
usr/share/fonts/opentype/fonts-hosny-amiri/AmiriQuranColored.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/amiri/Quran.ttf
usr/share/fonts/opentype/fonts-hosny-amiri/AmiriQuran.ttf usr/share/texlive/texmf-dist/fonts/truetype/public/amiri/QuranColored.ttf
